.image {
    background-color: white;
    padding: .5em;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
}

@keyframes logoDisappear {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes logoAppear {
    from { opacity: 0 }
    to { opacity: 1 }
}