main {
    margin-top: 35px;
    width: 90%;
    margin-left: 5%;
}

        main .title h1 {
            font-size: 2em;
        }

        main .description p {
            margin-top: .8em;
            font-size: 1em;
            text-align: justify;
        }

        main .map {
            margin-top: .8em;
            width: 100%;
            text-align: center;
        }

        main .objectives {
            margin-top: .8em;
            width: 100%;
            background-color: rgba(255, 255, 255, .1);
            padding-bottom: .4em;
        }

            main .objectives h1 {
                padding-top: 10px;
                padding-left: 10px;
                font-size: 2em;
            }

            main .objectives .subObj {
                background-color: rgba(0, 0, 0, .3);
                margin-top: 1em;
                width: 96%;
                margin-left: 2%;
                padding-bottom: 1em;
            }

                main .objectives .subObj p {
                    padding: .4em;
                    font-size: 1.2em;
                    text-align: justify;
                }

                main .objectives .subObj .subObj-image {
                    width: 96%;
                    margin-left: 2%;
                    padding: 1em 0;
                    background-color: rgba(0, 0, 0, .2);
                    overflow-x: auto;
                    white-space: nowrap;
                }

                    main .objectives .subObj .subObj-image .image {
                        position: relative;
                        display: inline-block;
                    }

                    main .objectives .subObj .subObj-image .separator {
                        width: .5em;
                        height: 150px;
                        display: inline-block;
                    }

                        main .objectives .subObj .subObj-image .image img {
                            height: 150px;
                        }

                        main .objectives .subObj .subObj-image .image div {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 150px;
                        }

                            main .objectives .subObj .subObj-image .image div:hover {
                                background-color: rgba(0, 0, 0, .5);
                            }
