.top-secret {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
}

    .top-secret .inside {
        padding: .5em;
        border-radius: 1em;
    }

    .top-secret .grey {
        background-color: rgb(200,200,200);
    }

    .top-secret .black {
        background-color: rgb(100,100,100);
    }

    .top-secret h1 {
        font-size: 4em;
        text-align: center;
    }

@keyframes topSecretAppear {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes topSecretDisappear {
    from {opacity: 1}
    to {opacity: 0}
}